section.home-banner
	.banner
		.item
			img(src="img/banner.jpg", alt="Banner" title="banner")
		.item
			img(src="img/banner.jpg", alt="Banner" title="banner")
		.item
			img(src="img/banner.jpg", alt="Banner" title="banner")