footer
	.subscribe-wrap
		.container
			.subscribe
				.module-title bạn quan tâm đến sản phẩm của chúng tôi
				.subscribefrm
					input(type="text" placeholder="Nhập địa chỉ email của bạn")
					button.subscribebutton Gửi
	.footer-main
		.container
			.footer-top
				.row
					.col-12.col-lg-8
						.footer-title Công ty TNHH Năm Dũng
						.row
							.col-12.col-md-6
								.contact-info
									ul
										li.address 
											span Địa chỉ 35 Hồ Ngọc Lãm, P.16, Q.8, TP.HCM
										li.email 
											span Email: 
												a(href="mailto:taiduong@namdung.vn") taiduong@namdung.vn
										li.phone 
											span Điện thoại: 
												a(href="tel:0837510725") (08) 3751 0725
												| - 
												a(href="tel:0949362408") 0949362408
							.col-12.col-md-6
								.footer-link
									ul
										li
											a(href="#!") Chính sách mua hàng
										li
											a(href="#!") Chính sách bảo trì, bảo dưỡng
										li
											a(href="#!") Chính sách vận chuyển
					.col-12.col-lg-4
						.footer-title Follow us
						.social
							a(href="#!") <i class="fa fa-skype" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
			.footer-bottom
				.copyright Bản quyền của NamDung Co.,Ltd. Bảo lưu mọi quyền.
					br
					| Giấy chứng nhận đăng ký kinh doanh do Sở kế hoạch và đầu tư thành phố Hồ Chí Minh cấp ngày 20/03/2000
				.bct
					img(src="img/bct.png", alt="")