header
	.header-top
		.container
			.header-wrap
				.slogan Thương hiệu chế tạo cơ khí cho ngành công nghiệp chế biến thủy sản
				.col-right
					.phone
						|Hotline - 
						a(href="tel:0949 362 408") 0949 362 408
					.language
						.dropdown
							.btn.dropdown-toggle#dropdownMenuButton(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').
								Vietnamese
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item.active(href='#') Vietnamese
								a.dropdown-item(href='#') English
	.header-menu
		.container
			.header-wrap
				.btn-menu
				.logo
					img(src="img/logo.png", alt="Logo" title="Logo")
				.menu-block
					.menu
						ul.menu-link
							li.active
								a(href="#!") Trang Chủ
							li.has-sub 
								a(href="#!") Giới thiệu
								.sub
									ul
										li
											a(href="#!") Về công ty
										li
											a(href="#!") Tầm nhìn sứ mệnh
										li.has-sub2
											a(href="#!") Khách hàng
											.sub2
												ul
													li
														a(href="#!") Danh sách khách hàng 1
													li
														a(href="#!") Danh sách khách hàng 2
													li
														a(href="#!") Danh sách khách hàng 3
							li 
								a(href="#!") Sản phẩm
							li 
								a(href="#!") Tin tức
							li 
								a(href="#!") Liên hệ
					.search
						.search-toggle
						.searchbox
							input(type="text")
							.searchbutton 
								//- i.fa.fa-search