section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Dịch vụ
		li
			a(href="#!") Dịch vụ tư vấn - thiết kế
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Dịch vụ
				ul
					li.active
						a(href="#!") Dịch vụ tư vấn - thiết kế
					li
						a(href="#!") Bảo hành và Bảo trì
		.col-12.col-lg-9
			.service-page
				.row.mb-4
					.col-12.col-md-6.content-block
						.page-title Tư vấn
						.content
							p.timenew "Lắng nghe những điều khách nói. Tư vấn những điều khách hàng cần”
							p Đội ngũ chuyên viên tư vấn giàu kinh nghiệm tại Công ty Năm Dũng luôn lắng nghe những yêu cầu của từng khách hàng, tư vấn và hỗ trợ hệ thống sản xuất theo đúng quy mô của từng doanh nghiệp.
							p Với tiêu chí: “Lắng nghe những điều khách hàng nói, tư vấn những điều khách hàng cần” – Công ty Năm Dũng luôn hướng đến sự hoàn thiện trong dịch vụ tư vấn để hỗ trợ khách hàng ngày một tốt hơn.
					.col-12.col-md-6.img-block
						img.w-100(src="img/s1.jpg", alt="")
				.row
					.col-12.col-md-6.img-block
						img.w-100(src="img/s2.jpg", alt="")
					.col-12.col-md-6.content-block
						.page-title Thiết kế
						.content
							p.timenew “Thiết kế những điều khách hàng muốn”
							p Là một trong những lĩnh vực thiết kế theo mức độ đặc trưng của từng khách hàng, Công ty Năm Dũng tự hào với những thiết kế hoàn thiện theo đúng yêu cầu và thông tin tư vấn với những điều kiện mặt bằng
							p Với tiêu chí: “Thiết kế những điều khách hàng muốn” – Công ty Năm Dũng hướng đến sự hoàn thiện cao nhất trong từng bản thiết kế nhằm đáp ứng nhu cầu sản xuất của từng doanh nghiệp.

