section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Giới thiệu
		li
			a(href="#!") Về công ty Năm Dũng
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Giới thiệu
				ul
					li.active
						a(href="#!") Về công ty Năm Dũng
					li
						a(href="#!") Tầm nhìn sứ mệnh
					li
						a(href="#!") Tại sao lựa chọn Năm Dũng
					li
						a(href="#!") Khách hàng
					li
						a(href="#!") Nhận xét của khách hàng
		.col-12.col-lg-9
			.about-page
				.content
					.img-block
						img(src="img/a1.jpg", alt="")
					p Được thành lập từ năm 1993, với đội ngũ kỹ sư giàu kinh nghiệm và hệ thống sản xuất chuyên nghiệp, công ty TNHH NĂM DŨNG luôn nỗ lực tự hoàn thiện để xứng đáng là một trong những thương hiệu hàng đầu trong lĩnh vực chế tạo máy móc và trang thiết bị, phục vụ trong ngành công nghiệp chế biến, đặc biệt là thủy hải sản.
					.row
						.col-12.col-md-4
							.img-block
								img(src="img/a2.jpg", alt="")
						.col-12.col-md-8
							p Khi đến với công ty Năm Dũng, Quý khách hàng hoàn toàn có thể yên tâm về Chất lượng sản phẩm cùng với đội ngũ kỹ thuật bảo hành chuyên nghiệp. 
							p Trong suốt hơn 20 năm qua, công ty TNHH Năm Dũng không những làm hài lòng khách hàng trong nước mà còn cả khách hàng ngoài nước như Ấn Độ, Malaysia, Indonesia,  Philippines
					.row
						.col-12.col-md-8
							p Với bằng sang chế độc quyền từ những năm đầu thành lập công ty, có thể nói, công ty NĂM DŨNG là một trong những công ty tiên phong mang sản phẩm công nghệ cao của nước nhà xuất sang các nước tiến tiến.
							p Những sản phẩm tiêu biểu như : máy hấp tuần hoàn cưỡng bức, máy cấp đông IQF, được xem là một trong những sản phẩm có chất lượng hàng đầu trong nước. IQF tấm phẳng, IQF lưới, máy sơ chế tôm, máy giặt công suất cao, băng tải chuyển hàng, và nhiều sản phẩm phục vụ nhu cầu của các công ty chế biến thủy hải sản.
						.col-12.col-md-4
							.img-block
								img(src="img/a3.jpg", alt="")
					p Tất cả các sản phẩm đều được chế biến hoàn toàn bằng chất liệu thép không gỉ được nhập khẩu trực tiếp từ các nước có nền công nghiệp sản xuất tiên tiến như Nhật Bản, EU,… những sản phẩm bằng INOX với độ bền cao, an toàn trong việc chế tạo sản phẩm trong nghành công nghiệp thực phẩm.
					.row
						.col-12.col-md-4.text-center
							img(src="img/pr1.png", alt="")
						.col-12.col-md-4.text-center
							img(src="img/pr2.png", alt="")
						.col-12.col-md-4.text-center
							img(src="img/pr3.png", alt="")
					p 
						strong Công ty TNHH NĂM DŨNG luôn là người bạn đồng hành và là đối tác tin cậy của những công ty chế biến thủy hải sản.
					.text-center
						img(src="img/a4.jpg", alt="")
					p Công ty TNHH NĂM DŨNG xin chân thành cảm ơn Quý khách hàng trong và ngoài nước đã tin dùng sản phẩm của công ty chúng tôi, sự hài lòng của quý khách là tiêu chí hàng đầu mà công ty NĂM DŨNG luôn hướng tới. Cùng với thời gian, công ty luôn nỗ lực cải tiến sản phẩm nhằm phục vụ nhu cầu của những khách hàng khó tánh nhất.
					p 
						strong TRÂN TRỌNG CẢM ƠN QUÝ KHÁCH
