include ../_layout/banner

section.home-intro
	.container
		.row
			.col-12.col-md-6
				.img-block
					img(src="img/h1.png", alt="")
			.col-12.col-md-6
				.content-block.text-right
					.intro-title.text-right
						strong Hơn 25 năm
						br 
						|Chất lượng tuyệt đối
						br 
						|Phát triển bền vững
					.content.text-right
						p Thành lập từ năm 1993, công ty TNHH NĂM DŨNG luôn không ngừng đổi mới, phát triển để xứng đáng là một trong những thương hiệu hàng đầu trong lĩnh vực chế tạo máy móc và thiết bị phục vụ trong ngành công nghiệp chế biến thủy sản.
					a.viewmore(href="#!") Câu chuyện của chúng tôi

section.home-solution
	.bg(style="background: url(img/bg.jpg) center center / cover no-repeat")
	.container
		.row
			.col-12.col-md-6.col-xl-5
				.solution-intro
					.intro-title Giải pháp 
						br 
						|tốt nhất 
						br 
						|cho phát triển 
						br 
						|bền vững
					.content
						p Slogan của chúng tôi phản ánh sứ mệnh: quan tâm, sáng tạo và chia sẻ các giải pháp sản xuất cho nền công nghiệp chế biến thủy sản
					a.viewmore(href="#!") Xem thêm

section.home-whychoose
	.container
		.home-title.text-center Tại sao chọn chúng tôi
		.reason-list
			.row
				.col-12.col-md-6.col-lg-4
					.reason
						.number 01
						.caption
							.name Tư vấn chuyên nghiệp
							.des Chuyên viên tư vấn giàu kinh nghiệm luôn sẵn sàng lắng nghe, tư vấn và giải đáp mọi thắc mắc của quý khách
				.col-12.col-md-6.col-lg-4
					.reason
						.number 02
						.caption
							.name Thiết kế phù hợp
							.des Đội ngũ kỹ sư giỏi tạo ra những thiết kế riêng biệt dựa trên yêu cầu và sự phù hợp của từng khách hàng
				.col-12.col-md-6.col-lg-4
					.reason
						.number 03
						.caption
							.name Sản phẩm tối ưu
							.des Hệ thống sản xuất linh hoạt nhằm mang lại những sản phẩm "tối ưu" nhất. Chất lượng đảm bảo, giá cả hợp lý, phù hợp nhu cầu
				.col-12.col-md-6.col-lg-4
					.reason
						.number 04
						.caption
							.name Lắp đặt nhanh chóng
							.des Bộ phận lắp đặt nhanh chóng, hướng dẫn sử dụng dễ hiểu giúp khách hàng dễ dàng vận hành sản phẩm
				.col-12.col-md-6.col-lg-4
					.reason
						.number 05
						.caption
							.name Hậu mãi tận tâm
							.des Nhân viên chăm sóc khách hàng tận tâm luôn sẵn sàng chăm sóc tức thời nhằm đảm bảo sản phẩm được hoạt động liên tục
				.col-12.col-md-6.col-lg-4
					.reason
						.number 06
						.caption
							.name Cải tiến không ngừng
							.des Không ngừng cập nhật và cải tiến sản phẩm nhằm tăng năng suất, giảm chi phí sản xuất cho nhà đầu tư

section.home-product
	.container
		.home-title.text-center Sản phẩm nổi bật
		.product-list
			.row
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr1.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr2.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr3.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr4.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr5.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr6.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr7.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
				.col-6.col-md-3
					.product
						a.img(href="#!")
							img(src="img/pr8.png", alt="")
						.caption
							.id mb-1000
							.name Mạ băng block
							.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
							a.viewdetail(href="#!") Xem chi tiết
		.btn-wrap.text-center
			a.viewmore(href="#!") Xem thêm

section.home-partner
	.container
		.home-title.text-center Đối tác của chúng tôi
		.partner-slide
			.item
				a.partner-logo(href="#!")
					img(src="img/pn1.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn2.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn3.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn4.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn5.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn6.png", alt="partner" title="partner")
			.item
				a.partner-logo(href="#!")
					img(src="img/pn1.png", alt="partner" title="partner")

section.home-service
	.container
		.service-list
			.row
				.col-12.col-md-6
					.service
						.img
							img(src="img/sv1.jpg", alt="")
						.caption
							.name Dịch vụ tư vấn - thiết kế
							.des Lắng nghe những điều khách nói, tư vấn những điều khách hàng cần, thiết kế những điều khách hàng muốn
							a.viewdetail(href="#!") Xem chi tiết
				.col-12.col-md-6
					.service
						.img
							img(src="img/sv2.jpg", alt="")
						.caption
							.name Bảo hành - Bảo trì
							.des Lắng nghe những điều khách nói, tư vấn những điều khách hàng cần, thiết kế những điều khách hàng muốn
							a.viewdetail(href="#!") Xem chi tiết
