section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Giới thiệu
		li
			a(href="#!") Khách hàng
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Giới thiệu
				ul
					li
						a(href="#!") Về công ty Năm Dũng
					li
						a(href="#!") Tầm nhìn sứ mệnh
					li
						a(href="#!") Tại sao lựa chọn Năm Dũng
					li.active
						a(href="#!") Khách hàng
					li
						a(href="#!") Nhận xét của khách hàng
		.col-12.col-lg-9
			.about-page
				.partner-list
					.row
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn1.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn2.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn3.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn4.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn5.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn6.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn1.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn2.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn3.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn4.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn5.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn6.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn1.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn2.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn3.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn4.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn5.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn6.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn1.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn2.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn3.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn4.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn5.png", alt="")
						.col-6.col-sm-4.col-lg-3
							a.partner-logo(href="#!")
								img(src="img/pn6.png", alt="")