section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Giới thiệu
		li
			a(href="#!") Lịch sử hình thành
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Giới thiệu
				ul
					li
						a(href="#!") Về công ty Năm Dũng
					li.active
						a(href="#!") Lịch sử hình thành
					li
						a(href="#!") Tầm nhìn sứ mệnh
					li
						a(href="#!") Tại sao lựa chọn Năm Dũng
					li
						a(href="#!") Khách hàng
					li
						a(href="#!") Nhận xét của khách hàng
		.col-12.col-lg-9
			.about-page
				.history-wrap
					.history-row
						.history-block
							.img
								img(src="img/bg.jpg", alt="")
							.caption
								.year 2020
								.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ad est voluptatem velit recusandae.
						.history-block
							.img
								img(src="img/bg.jpg", alt="")
							.caption
								.year 2018
								.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ad est voluptatem velit recusandae, voluptate sit quia officiis obcaecati amet eius perferendis.
						.history-block
							.img
								img(src="img/bg.jpg", alt="")
							.caption
								.year 2016
								.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ad est voluptatem velit recusandae, voluptate sit quia officiis obcaecati.
						.history-block
							.img
								img(src="img/bg.jpg", alt="")
							.caption
								.year 2015
								.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ad est voluptatem velit recusandae, voluptate sit quia..
					.fa.fa-home