section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Liên hệ
.container
	section.contact-page
		.row
			.col-12.col-lg-4
				.contact-info
					.page-title Thông tin liên hệ
					ul
						li.address
							strong Địa chỉ văn phòng
							br
							span 35 Hồ Học Lãm, P.16, Quận 8, TP.HCM
						li.phone
							strong Hotline
							br
							a(href="tel:0949362408") 0949362408  -  
							a(href="tel:(028) 3751 0725") (028) 3751 0725
						li.fax
							strong Fax
							br
							span (028) 3751 0724
						li.email
							strong Email
							br
							a(href="mailto:taiduong@namdung.vn") taiduong@namdung.vn
			.col-12.col-lg-8
				.contact-form
					.module-title Gửi thông tin
					.form-wrap
						.form-row
							.col-12.col-md-6.form-group
								input(type="text" placeholder="Họ & Tên")
							.col-12.col-md-6.form-group
								input(type="text" placeholder="Điện thoại")
							.col-12.col-md-6.form-group
								input(type="text" placeholder="Email")
							.col-12.col-md-6.form-group
								input(type="text" placeholder="Tiêu đề")
							.col-12.form-group
								textarea(name="", cols="30", rows="2" placeholder="Nội dung")
							.btnwrap
								input(type="submit", value="Gửi thông tin")
			.col-12
				.contact-maps
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.2725830078675!2d106.6125363153339!3d10.713446263281295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752df9e858251d%3A0x1f45b6c8cda555f!2zQ8O0bmcgVHkgVE5ISCBOxINtIETFqW5n!5e0!3m2!1svi!2s!4v1578801823985!5m2!1svi!2s' width='100%' height='350' frameborder='0' style='border:0;' allowfullscreen)
