section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Giới thiệu
		li
			a(href="#!") Nhận xét
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Giới thiệu
				ul
					li
						a(href="#!") Về công ty Năm Dũng
					li
						a(href="#!") Tầm nhìn sứ mệnh
					li
						a(href="#!") Tại sao lựa chọn Năm Dũng
					li
						a(href="#!") Khách hàng
					li.active
						a(href="#!") Nhận xét của khách hàng
		.col-12.col-lg-9
			.about-page
				.customer-feedback
					.feedback
						.row
							.col-12.col-md-4
								.customer
									.img
										img(src="img/c1.jpg", alt="")
									.caption
										.name Ông Lê Văn Quang
										.des Chủ tịch hội đồng quản trị kiêm Tổng Giám Đốc - CT CP Tập đoàn Thủy sản Minh Phú
							.col-12.col-md-8
								.message
									.content
										.quote
											p -Tập đoàn thủy sản Minh Phú từ khi xây dựng nhà máy đầy tiên đến nay đã xây dựng nhà máy chế biến tôm thứ 4, chúng tôi đều mua các dụng cụ, các thiết bị, các dây chuyền sản xuất và một số băng chuyền IQF của công ty Năm Dũng sản xuất. Qua một thời gian dài sử dụng chúng tôi thấy sản phẩm:
											p 1) Tiện ích.
											p 2) Bền, đẹp.
											p 3) Và nhất là giá cả rất rẻ, rẻ hơn nhiều so với nước ngoài sản xuất và chế tạo nhưng mức độ bền, đẹp và tiện ích thì lại không thua kém.
											p 4) Chế độ bảo dưỡng và bảo hành rất tốt.
					.feedback
						.row
							.col-12.col-md-4
								.customer
									.img
										img(src="img/c2.jpg", alt="")
									.caption
										.name Ông Ông Lê Văn Linh
										.des Tổng Giám Đốc - CT CP Tập đoàn Thủy sản Minh Phú
							.col-12.col-md-8
								.message
									.content
										.quote
											p - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
											p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
					.feedback
						.row
							.col-12.col-md-4
								.customer
									.img
										img(src="img/c1.jpg", alt="")
									.caption
										.name Ông Ông Lê Văn Linh
										.des Tổng Giám Đốc - CT CP Tập đoàn Thủy sản Minh Phú
							.col-12.col-md-8
								.message
									.content
										.quote
											p - Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
											p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem 
					.feedback
						.row
							.col-12.col-md-4
								.customer
									.img
										img(src="img/c1.jpg", alt="")
									.caption
										.name Ông Ông Lê Văn Linh
										.des Tổng Giám Đốc - CT CP Tập đoàn Thủy sản Minh Phú
							.col-12.col-md-8
								.message
									.content
										.quote
											p - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
											p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 