section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Sản phẩm
		li
			a(href="#!") Nhóm chế biến nông sản
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Sản phẩm
				ul
					li
						a(href="#!") Nhóm Chế Biến Tôm
					li
						a(href="#!") Nhóm Chế Biến Cá
					li
						a(href="#!") Nhóm Chế biến Nông Sản
					li
						a(href="#!") Nhóm Hấp Luộc
					li.active
						a(href="#!") Nhóm Chiên Nướng
					li
						a(href="#!") Nhóm Điện Lạnh
					li
						a(href="#!") Nhóm Thiết Bị Khác
					li
						a(href="#!") Các dụng cụ chế biến
		.col-12.col-lg-9
			.product-page
				.product-list
					.row
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr1.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr2.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr3.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr4.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr5.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr6.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr7.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr8.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
						.col-6.col-md-4
							.product
								a.img(href="#!")
									img(src="img/pr8.png", alt="")
								.caption
									.id mb-1000
									.name Mạ băng block
									.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
									a.viewdetail(href="#!") Xem chi tiết
				.btn-wrap.text-center
					a.viewmore(href="#!") Xem thêm