section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Sản phẩm
		li
			a(href="#!") Nhóm chế biến nông sản
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Sản phẩm
				ul
					li
						a(href="#!") Nhóm Chế Biến Tôm
					li
						a(href="#!") Nhóm Chế Biến Cá
					li
						a(href="#!") Nhóm Chế biến Nông Sản
					li
						a(href="#!") Nhóm Hấp Luộc
					li.active
						a(href="#!") Nhóm Chiên Nướng
					li
						a(href="#!") Nhóm Điện Lạnh
					li
						a(href="#!") Nhóm Thiết Bị Khác
					li
						a(href="#!") Các dụng cụ chế biến
		.col-12.col-lg-9
			.product-page
				.row
					.col-12.col-lg-7
						.product-slide
							.item
								a(href="img/prct1.png" data-fancybox)
									img(src="img/prct1.png", alt="")
							.item
								a(href="img/prct1.png" data-fancybox)
									img(src="img/prct1.png", alt="")
							.item
								a(href="img/prct1.png" data-fancybox)
									img(src="img/prct1.png", alt="")
							.item
								a(href="img/prct1.png" data-fancybox)
									img(src="img/prct1.png", alt="")
							.item
								a(href="img/prct1.png" data-fancybox)
									img(src="img/prct1.png", alt="")
						.product-nav
							.item
								.img
									img(src="img/prct1.png", alt="")
							.item
								.img
									img(src="img/prct1.png", alt="")
							.item
								.img
									img(src="img/prct1.png", alt="")
							.item
								.img
									img(src="img/prct1.png", alt="")
							.item
								.img
									img(src="img/prct1.png", alt="")
					.col-12.col-lg-5
						.product-info
							h1.product-name MÁY NƯỚNG
							.product-id MN-920-THH
							.content
								p Lorem ipsum dolor sit amet, consectur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
								p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat proident
							a.btn-contact(href="#!") Liên hệ
					.col-12
						.product-description
							ul.nav.nav-tabs#myTab(role='tablist')
								li.nav-item
									a.nav-link.active#home-tab(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Tính năng sản phẩm
								li.nav-item
									a.nav-link#profile-tab(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Thông số kỹ thuật
							.tab-content#myTabContent
								.tab-pane.fade.show.active#home(role='tabpanel' aria-labelledby='home-tab') 
									.content
										p - Thành phẩm chín đều hai mặt, màu sắc đẹp mắt, không cháy khét, dập xước sản phẩm.
										p - Máy có thể nướng được nhiều loại sản phẩm với năng suất tối ưu tùy thuộc vào từng loại sản phẩm.
										p - Máy có thể điều chỉnh được nhiệt độ nướng cho phù hợp với từng loại sản phẩm và nhu cầu nướng khác nhau.
										p - Thời gian nướng có thể điều chỉnh được từ 4 phút đến 40 phút tùy theo từng loại sản phẩm.
										p - Thiết kế tối ưu: Chiều cao phù hợp, dễ dàng nạp liệu vào máy
										p - Vận hành - Bảo trì - Bảo dưỡng dễ dàng
										p - Vệ sinh dễ dàng
								.tab-pane.fade#profile(role='tabpanel' aria-labelledby='profile-tab') ...
					.col-12
						.product-related
							.pr-title Sản phẩm liên quan
							.product-list.related-slide
								.item
									.product
										a.img(href="#!")
											img(src="img/pr5.png", alt="")
										.caption
											.id mb-1000
											.name Mạ băng block
											.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
											a.viewdetail(href="#!") Xem chi tiết
								.item
									.product
										a.img(href="#!")
											img(src="img/pr6.png", alt="")
										.caption
											.id mb-1000
											.name Mạ băng block
											.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
											a.viewdetail(href="#!") Xem chi tiết
								.item
									.product
										a.img(href="#!")
											img(src="img/pr7.png", alt="")
										.caption
											.id mb-1000
											.name Mạ băng block
											.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
											a.viewdetail(href="#!") Xem chi tiết
								.item
									.product
										a.img(href="#!")
											img(src="img/pr8.png", alt="")
										.caption
											.id mb-1000
											.name Mạ băng block
											.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
											a.viewdetail(href="#!") Xem chi tiết
								.item
									.product
										a.img(href="#!")
											img(src="img/pr8.png", alt="")
										.caption
											.id mb-1000
											.name Mạ băng block
											.des Máy mạ băng block dùng để cung cấp một lớp phủ bằng nước có tác dụng bảo vệ các khối thực phẩm
											a.viewdetail(href="#!") Xem chi tiết
