section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Tin tức
		li
			a(href="#!") Hoạt động của công ty
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Tin tức
				ul
					li.active
						a(href="#!") Hoạt động của công ty
					li
						a(href="#!") Chương trình - Thông báo
					li
						a(href="#!") Tin sản phẩm dịch vụ
					li
						a(href="#!") Tin trong ngành
					li
						a(href="#!") Tin tuyển dụng
		.col-12.col-lg-9
			.news-page
				.news-list
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name 
								a(href="#!") DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						a.img(href="#!")
							img(src="img/n2.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name 
								a(href="#!") DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						a.img(href="#!")
							img(src="img/n3.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name 
								a(href="#!") DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						a.img(href="#!")
							img(src="img/n4.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name 
								a(href="#!") DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						.img
							img(src="img/n2.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						.img
							img(src="img/n3.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
					.news-item
						.img
							img(src="img/n4.jpg", alt="")
						.caption
							time 10:12PM - 20/06/2019
							.name DU LỊCH NHA TRANG - Gắn kết yêu thương
							.des Nằm trong chuỗi hoạt động thường niên của Công ty TNHH Năm Dũng, nhằm mục đích tạo sân chơi riêng, phát triển thể lực và xây dựng tinh thần đồng đội trong tập thể nhân viên trong toàn công ty.
							a.viewdetail(href="#!") Xem chi tiết
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3