section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Giới thiệu
		li
			a(href="#!") Tầm nhìn sứ mệnh
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Giới thiệu
				ul
					li
						a(href="#!") Về công ty Năm Dũng
					li
						a(href="#!") Lịch sử hình thành
					li.active
						a(href="#!") Tầm nhìn sứ mệnh
					li
						a(href="#!") Tại sao lựa chọn Năm Dũng
					li
						a(href="#!") Khách hàng
					li
						a(href="#!") Nhận xét của khách hàng
		.col-12.col-lg-9
			.about-page
				.tn-section
					.row
						.col-12.col-md-4
							.home-title Tầm nhìn
							.content
								p Trở thành công ty cung cấp giải pháp tin cậy nhất khu vực Đông Nam Á về lĩnh vực cung cấp giải pháp chế biến trong ngành Nông - Thủy - Hải sản.
						.col-12.col-md-8
							.img
								img(src="img/a4.jpg", alt="")
				.sm-section
					.home-title Sứ mệnh
					.sm-list
						.row
							.col-12.col-md-6
								.sm-item
									.sm-title
										.icon <span class="lnr lnr-users"></span>
										.text Đối với khách hàng
									.des Chúng tôi cam kết trở thành đối tác đáng tin cậy nhất của khách hàng với sự chuyên nghiệp và tân tâm cung cấp giải pháp chất lượng và đa dạng, đặc biệt luôn dựa trên cở sở coi mục tiêu của khách hàng là trọng tâm
							.col-12.col-md-6
								.sm-item
									.sm-title
										.icon <span class="lnr lnr-apartment"></span>
										.text Đối với công ty
									.des Xây dựng và cải tiến doanh nghiệp lên tầm cao trong ngành thiết bị chế biến thực phẩm
							.col-12.col-md-6
								.sm-item
									.sm-title
										.icon <span class="lnr lnr-user"></span>
										.text Đối với nhân viên 
									.des Tạo dựng cho cho công nhân viên môi trường làm việc an toàn, vững chắc với nhiều cơ hội để phát triển năng lực và bản thân 
							.col-12.col-md-6
								.sm-item
									.sm-title 
										.icon <span class="lnr lnr-earth"></span>
										.text Đối với xã hội 
									.des Có trách nhiệm với xã hội thể hiện qua việc sản xuất hàng hoá chất lượng, sử dụng nguyên vật liệu đảm bảo an toàn trong chế biến thực phẩm và thân thiện với môi trường
				.gt-section
					.home-title Giá trị cốt lõi
					.content
						ul
							li Quan tâm đến mục tiêu của khách hàng
							li Chấp nhận sự thay đổi 
							li Làm việc tốc độ nhưng hiệu quả 
							li Kỷ luật, tuân thủ và trung thực
							li Khác biệt, đột phá là lợi thế cạnh tranh

