section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
	ol.breadcrumb
		li
			a(href="#!") Trang chủ
		li
			a(href="#!") Tin tức
		li
			a(href="#!") Hoạt động của công ty
.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Tin tức
				ul
					li.active
						a(href="#!") Hoạt động của công ty
					li
						a(href="#!") Chương trình - Thông báo
					li
						a(href="#!") Tin sản phẩm dịch vụ
					li
						a(href="#!") Tin trong ngành
					li
						a(href="#!") Tin tuyển dụng
		.col-12.col-lg-9
			.news-page
				.news-detail
					.news-name VIETNAM FOODEXPO 2018 – Sức bật cho ngành thực phẩm Việt Nam
					time 10:12PM - 20/11/2018
					.content
						p.text-medium Sáng ngày  14/11/2018, Hội chợ Triển lãm Công nghiệp Thực phẩm Việt Nam 2018 – Foodexpo 2018 đã chính thức khai mạc trọng thể tại Trung tâm Hội chợ và Triển lãm Sài Gòn, Tp.Hồ Chí Minh. Triển lãm do Bộ Công Thương chủ trì, Cục Xúc tiến thương mại phối hợp với các cơ quan liên quan trong và ngoài nước tổ chức trong khuôn khổ Chương trình xúc tiến thương mại quốc gia.
						p Triển lãm thu hút hơn 400 doanh nghiệp tham gia, các doanh nghiệp đến từ 31 tỉnh/thành trên cả nước và 23 quốc gia, vùng lãnh thổ nước ngoài trưng bày tại 600 gian hàng trên toàn bộ 13.000m2 khu vực nhà triển lãm.
						.text-center
							img(src="img/np1.jpg", alt="")
						p Vietnam Foodexpo 2018 tạo ra nhịp cầu giao thương thuận lợi và có ý nghĩa thiết thực cho các doanh nghiệp có cơ hội tiếp cận trực tiếp hợp tác kinh doanh và đầu tư, cập nhật xu hướng, quảng bá thương hiệu, sản phẩm và hình ảnh cá nhân đến với khách hàng trong và ngoài nước.
						p Bên cạnh đó, triển lãm còn tạo động lực đổi mới công nghệ, tăng năng suất lao động, chất lượng, an toàn trong sản xuất, chế biến, kinh doanh  nông sản, thực phẩm và đồ uống.
						p Triển lãm Foodexpo 2018 đã thu hút hơn 20.000 lượt khách tham quan, trong đó có các đoàn thương nhân, khách mua hàng tiềm năng  đến từ các thị trường trọng điểm như Hàn Quốc, Nhật Bản, Trung Quốc, Hoa Kỳ, Pháp,…và nhiều địa phương trên cả nước.
						.row.justify-content-center
							.col-12.col-md-6.col-lg-5
								.text-center
									img(src="img/np2.jpg", alt="")
							.col-12.col-md-6.col-lg-5
								.text-center
									img(src="img/np3.jpg", alt="")
						p Cùng với sứ mệnh “Mang đến những giải pháp phát triển bền vững” cho các doanh nghiệp trong nước cũng như đang vươn tới thị trường quốc tế. Công ty TNHH Năm Dũng mang đến triển lãm lần này  thiết bị Hệ thống chiên băng tải cùng các thiết bị nổi bật khác như: Hệ thống cấp đông nhanh IQF, Máy hấp tuần hoàn hơi cưỡng bức, Máy rửa sơ ri, Dây chuyền chế biến, Dây chuyền tẩm bột…
						p Với mong muốn tạo cho doanh nghiệp các giải pháp hiệu quả trong việc thay đổi quy trình sản xuất truyền thống bằng việc áp dụng công nghệ máy móc hỗ trợ vào quy trình chế biến nhằm nâng cao giá trị sản phẩm, tăng năng suất tạo ra sản phẩm cho doanh nghiệp, giảm sức lao động, sử dụng ít nhân công, giảm chi phí sản xuất mà vẫn tạo ra những giá trị tích cực cho doanh nghiệp kinh doanh trong lĩnh vực chế biến thực phẩm.
						.row.justify-content-center
							.col-12.col-md-6.col-lg-5
								.text-center
									img(src="img/np3.jpg", alt="")
							.col-12.col-md-6.col-lg-5
								.text-center
									img(src="img/np4.jpg", alt="")
						p Gian hàng của chúng tôi không chỉ thu hút lượng đáng kể khách hàng trong nước, mà còn thu hút một lượng không ít các đoàn khách hàng nước ngoài đến tham quan, tìm hiểu và hợp tác.
						p Chúng tôi tin tưởng với bề dài 25 năm kinh nghiệm trong lĩnh vực thiết kế chế tạo máy móc phục vụ cho ngành công nghiệp chế biến thực phẩm, cùng với đội ngũ kỹ sư, công nhân viên lành nghề,  luôn luôn đổi mới không những trong tư duy mà còn trong hành động, cập nhật liên tục các kiến thức công nghệ mới, luôn lắng nghe và tiếp thu ý kiến khách hàng để hoàn thiện mỗi ngày sẽ làm hài lòng các đối tác hiện tại và các đối tác đầu tư trong tương lai.
						p Chúng tôi với quyết tâm đem công nghệ Việt vươn ra thế giới, cùng với giá cả hợp lý đối với các doanh nghiệp trong nước nhưng chất lượng tương đương máy móc thiết bị quốc tế, đội  ngũ lắp đặt – bảo trì thường xuyên chuyên nghiệp sẽ chính là chìa khóa, là kim chỉ nam khẳng định cho thương hiệu và là yếu tố để các doanh nghiệp đặt sự tin tưởng “chọn mặt gửi vàng” .
						p 
							strong Trân trọng.
				.news-related
					.n-title Tin tức liên quan
					.related-list
						ul
							li
								a(href="#!") SBA tổ chức thành công Đại hội chi hội DN KCNC nhiệm kỳ 2015-2017
								time (07/10/2015)
							li
								a(href="#!") SCS chung tay tổ chức “Đêm hội trăng rằm” 
								time (05/10/2015)
							li
								a(href="#!") Hướng dẫn Thủ tục cấp, điều chỉnh Giấy chứng nhận đăng ký đầu tư tại Khu Công nghệ cao 
								time (10/12/2015)
							li
								a(href="#!") [HOT] Ưu đãi đặc biệt cho khách hàng nhân dịp 2/9 
								time (10/12/2015)
							li
								a(href="#!") Tổ chức lễ ra mắt giới thiệu sản phẩm mới Mori A Phương Vy tại toà nhà SCS 
								time (07/10/2015)